body{
  background-color: #222222;
}
.Home {
  background-color: #34A5DA;
  height: 15vh;
  font-size: 20px;
  align-items: center;
  display: flex;
  font-style: "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
.Homie {
  margin-left: 5vw;
  
}

.Previous {
  display: flex;
  position: relative;
  left: 25vw;
  top: 70vh;
  font-size: 20px;
  color: aliceblue;
  background-color: #222222;
  border: none;
  
  
}
.Card {
  display: flex;
  position: relative;
  align-items: center;
  background-color:white;
  height: 50vh;
  width: 50vw;
  margin-left: 10vw;
  margin-top: 12vh;
  left: 15vw;
}
.Next {
  display: flex;
  position: relative;
  left: 70vw;
  top: 72.5vh;
  font-size: 20px;
  color: aliceblue;
  background-color: #222222;
  border: none;
}
.First {
  display: flex;
  position: absolute;
  left: 35vw;
  top: 10vh;
}
.Info{
  padding: 10%;
}
.Mood{
  background-color: #34A5DA;
  display: flex;
  margin-top: 54.25%;
  position: absolute;
  margin-left: 47%;
  border-radius: 28px;
  display: flex;
}
#one {
  background-color: #34A5DA;
  border-radius: 40%;
  border-color:transparent;
  color:white;
  font-weight: bolder; 
}
